.header {
    background: $colour-primary;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #A1C181;
    a {
        text-decoration: none;
    }   
    &__logo {
        font-family: SpaceCapitan-Regular;
        font-size: 6rem;
        color: $colour-secondary;
    }
}