i {
    font-size: 6rem;
    text-align: center;
    &.fas.fa-music {
        display: block;
        background: linear-gradient(to right, rgba(241,88,97,1) 0%,rgba(247,143,106,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu-layout {
    font-family: Itim Regular;
    color: #3C1218;
    margin: 70px auto;
    padding: 70px 5%;
    width: 80%;
    box-shadow: 0px 0px 20px 0px #DFDFDF;
    background-color: #FCDFDB;
    letter-spacing: 1px;
        &__title {
            font-size: 4rem;
            text-align: center;
            &--note {
                font-family: Devonshire-Regular;
            }
        }
        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 70px auto;
        }
        &__img {
            width: 32%;
            &--right {
                transform: scaleX(-1);
            }
        }
        &__subtitle {
            text-align: center;
            font-size: 3rem;
            line-height: 30px;
            &--note {
                font-weight: 900;
                &:after {
                    content: "";
                    display: block;
                    border-bottom: solid 2px;
                    transform: scaleX(0);
                    transition: 300ms;
                    transform-origin: 0% 50%;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }
        }
        &__details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &__plat {
            width: 90%;
        }
        &__prix {
            width: 10%;
            text-align: right;
        }
}