html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  background: #fff;
  max-width: 1800px;
  margin: 0 auto;
}

:root {
  font-size: 8px;
}

body {
  font-family: "SpaceCapitan-Regular", sans-serif;
  color: #569B87;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "SpaceCapitan-Regular", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

textarea {
  font-family: "SpaceCapitan-Regular", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "SpaceCapitan-Regular", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

@font-face {
  font-family: "SpaceCapitan-Regular";
  src: url("../fonts/SpaceCapitan-Regular.ttf.woff") format("woff"), url("../fonts/SpaceCapitan-Regular.ttf.svg#SpaceCapitan-Regular") format("svg"), url("../fonts/SpaceCapitan-Regular.ttf.eot"), url("../fonts/SpaceCapitan-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant-One";
  src: url("../fonts/Croissant-One.ttf.woff") format("woff"), url("../fonts/Croissant-One.ttf.svg#Croissant-One") format("svg"), url("../fonts/Croissant-One.ttf.eot"), url("../fonts/Croissant-One.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Litoland";
  src: url("../fonts/Litoland.ttf.woff") format("woff"), url("../fonts/Litoland.ttf.svg#Litoland") format("svg"), url("../fonts/Litoland.ttf.eot"), url("../fonts/Litoland.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../fonts/Devonshire-Regular.ttf.woff") format("woff"), url("../fonts/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("../fonts/Devonshire-Regular.ttf.eot"), url("../fonts/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Itim Regular";
  src: url("../fonts/Itim-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Dancing-Script-Regular";
  src: url("../fonts/Dancing-Script-Regular.ttf.woff") format("woff"), url("../fonts/Dancing-Script-Regular.ttf.svg#Dancing-Script-Regular") format("svg"), url("../fonts/Dancing-Script-Regular.ttf.eot"), url("../fonts/Dancing-Script-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe-Print";
  src: url("../fonts/Segoe-Print.eot"), url("../fonts/Segoe-Print.eot?#iefix") format("embedded-opentype"), url("../fonts/Segoe-Print.woff2") format("woff2"), url("../fonts/Segoe-Print.woff") format("woff"), url("../fonts/Segoe-Print.ttf") format("truetype"), url("../fonts/Segoe-Print.svg#Segoe-Print") format("svg");
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("../fonts/Kaushan-Script.ttf.woff") format("woff"), url("../fonts/Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("../fonts/Kaushan-Script.ttf.eot"), url("../fonts/Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Trueno-Round";
  src: url("../fonts/Trueno-Round.ttf.woff") format("woff"), url("../fonts/Trueno-Round.ttf.svg#Trueno-Round") format("svg"), url("../fonts/Trueno-Round.ttf.eot"), url("../fonts/Trueno-Round.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alte-Haas-Grotesk-Bold";
  src: url("../fonts/Alte-Haas-Grotesk-Bold.ttf.woff") format("woff"), url("../fonts/Alte-Haas-Grotesk-Bold.ttf.svg#Alte-Haas-Grotesk-Bold") format("svg"), url("../fonts/Alte-Haas-Grotesk-Bold.ttf.eot"), url("../fonts/Alte-Haas-Grotesk-Bold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background: #569B87;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header a {
  text-decoration: none;
}
.header__logo {
  font-family: SpaceCapitan-Regular;
  font-size: 6rem;
  color: #FCCA46;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translate(1px, 1.5px) rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(-1.5px, -1px) rotate(-2deg);
  }
}
.footer {
  font-family: Trueno-Round;
  background: #569B87;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: 2px solid #A1C181;
}
.footer__link {
  font-size: 2.5rem;
  margin: auto 3%;
  text-decoration: none;
  color: #FCCA46;
}
.footer__link:hover {
  animation: wiggle 200ms infinite;
}

i {
  font-size: 6rem;
  text-align: center;
}
i.fas.fa-music {
  display: block;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
i.fas.fa-music.bottom {
  font-size: 4rem;
  margin: 0px 10px;
}

.menu-layout {
  margin: 70px auto;
  padding: 70px 5%;
  width: 80%;
  box-shadow: 0px 0px 20px 0px #DFDFDF;
  letter-spacing: 1px;
}
@media (max-width: 868px) {
  .menu-layout {
    width: 95%;
  }
}
.menu-layout--note {
  font-family: Itim Regular;
  color: #3C1218;
  background-color: #FCDFDB;
  font-size: 2rem;
}
.menu-layout--chic {
  font-family: Litoland;
  background-color: #FFF5FE;
  font-size: 1.8rem;
}
.menu-layout--papilles {
  font-family: Segoe-Print;
  background-color: #EDEFEF;
  font-size: 1.8rem;
  color: black;
}
.menu-layout--palette {
  font-family: Segoe-Print;
  color: #72BF56;
  font-size: 1.8rem;
  color: black;
}
.menu-layout__title {
  font-size: 5rem;
  text-align: center;
}
.menu-layout__title--note {
  font-family: Devonshire-Regular;
}
.menu-layout__title--note.bottom {
  font-size: 4rem;
}
.menu-layout__title--chic {
  font-family: Croissant-One;
  font-size: 4rem;
  background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-layout__title--papilles {
  font-family: Dancing-Script-Regular;
  font-weight: 700;
  background: linear-gradient(to right, #1449e5 0%, #6cb2f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-layout__title--palette {
  font-family: Kaushan-Script;
  background: linear-gradient(to right, #3e923a 0%, #beff7f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-layout__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px auto;
}
.menu-layout__img {
  width: 32%;
}
.menu-layout__img--right {
  transform: scaleX(-1);
}
@media (max-width: 1068px) {
  .menu-layout__img {
    width: 22%;
  }
}
.menu-layout__subtitle {
  text-align: center;
  font-size: 3rem;
  line-height: 30px;
}
.menu-layout__subtitle--note {
  font-weight: 900;
}
.menu-layout__subtitle--note:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  transform: scaleX(0);
  transition: 300ms;
  transform-origin: 0% 50%;
}
.menu-layout__subtitle--note:hover:after {
  transform: scaleX(1);
}
.menu-layout__subtitle--chic {
  font-size: 2rem;
}
.menu-layout__subtitle--chic:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  transform: scaleX(0);
  transition: 300ms;
  transform-origin: 0% 50%;
}
.menu-layout__subtitle--chic:hover:after {
  transform: scaleX(1);
}
.menu-layout__subtitle--papilles {
  font-size: 2.2rem;
}
.menu-layout__subtitle--papilles:after {
  content: "";
  display: block;
  border-bottom: solid 2px #0228DD;
  transform: scaleX(0);
  transition: 300ms;
  transform-origin: 0% 50%;
}
.menu-layout__subtitle--papilles:hover:after {
  transform: scaleX(1);
}
.menu-layout__subtitle--palette {
  font-size: 2.2rem;
}
.menu-layout__subtitle--palette:after {
  content: "";
  display: block;
  border-bottom: solid 2px #ACEF75;
  transform: scaleX(0);
  transition: 300ms;
  transform-origin: 0% 50%;
}
.menu-layout__subtitle--palette:hover:after {
  transform: scaleX(1);
}
.menu-layout__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.menu-layout__plat {
  width: 90%;
}
.menu-layout__prix {
  width: 10%;
  text-align: right;
}
.menu-layout__bottomline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.menu-layout__appetizer--chic {
  color: #C77412;
}
.menu-layout__dish--chic {
  color: #A56799;
}
.menu-layout__sweets--chic {
  color: #6E4CCC;
}

.underheader {
  margin-top: 100px;
}
.underheader__title {
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  justify-content: center;
}
@media (max-width: 1096px) {
  .menu {
    width: 95%;
  }
}
@media (max-width: 490px) {
  .menu {
    flex-direction: column;
    margin: 0 auto;
  }
}
.menu__link {
  width: 40%;
  height: 600px;
  text-decoration: none;
  box-shadow: 0px 0px 20px 0px #DFDFDF;
  margin: 4%;
}
@media (max-width: 1096px) {
  .menu__link {
    height: 300pxvh;
  }
}
@media (max-width: 490px) {
  .menu__link {
    width: 90%;
    align-self: center;
  }
}
.menu__link--pink {
  background-color: #FCDFDB;
}
.menu__link--salmon {
  background-color: #FFF5FE;
}
.menu__link--grey {
  background-color: #F9F9F9;
}
.menu__link--zoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform, opacity;
  transition-duration: 450ms;
  transition-timing-function: linear;
}
.menu__link--zoom:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
.menu__title {
  font-size: 4rem;
}
.menu__title--brown {
  font-family: Devonshire-Regular;
  color: #3C1218;
}
.menu__title--brownlight {
  font-family: Croissant-One;
  font-size: 3rem;
  background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__title--blue {
  font-family: Dancing-Script-Regular;
  font-weight: 700;
  background: linear-gradient(to right, #1449e5 0%, #6cb2f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__title--green {
  font-family: Kaushan-Script;
  background: linear-gradient(to right, #3e923a 0%, #beff7f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__subtitle {
  font-size: 4rem;
}
.menu__subtitle--brown {
  font-family: Itim Regular;
  font-style: italic;
  color: #3C1218;
}
.menu__subtitle--brownlight {
  font-family: Litoland;
  color: #C77412;
}
.menu__subtitle--blue {
  font-family: Segoe-Print;
  color: #0887FB;
}
.menu__subtitle--green {
  font-family: Segoe-Print;
  color: #72BF56;
}
.menu__subtitle--uppercase {
  text-transform: uppercase;
}
.menu .fas.fa-music {
  font-size: 6rem;
  background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.soonarea {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
}
.soonarea__text {
  font-family: Trueno-Round;
  color: #FCCA46;
  background-color: #569b87;
  border-radius: 15px;
  font-size: 2.5rem;
  padding: 10px 50px;
}
.soonarea span {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.soonarea span:nth-child(2) {
  animation-delay: 0.2s;
}
.soonarea span:nth-child(3) {
  animation-delay: 0.4s;
}

@media (max-width: 860px) {
  :root {
    font-size: 6px;
  }
}
.legal-terms {
  font-family: Trueno-Round;
  width: 90%;
  margin: 100px auto;
}
.legal-terms > p {
  font-size: 1.2rem;
}
.legal-terms > p > a {
  text-decoration: none;
  color: inherit;
}
.legal-terms > ul {
  font-size: 1.2rem;
}
.legal-terms > ul > li > a {
  text-decoration: none;
  color: inherit;
}
.legal-terms > h2 {
  margin-top: 20px;
}
.legal-terms > h3 {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
