html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #569B87;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.btn {
  padding: 1.5rem;
  border: 0.1rem solid #569B87;
  color: #569B87;
  background: #FCCA46;
  cursor: pointer;
}
.btn:hover {
  background: #569B87;
  color: #D6FFF5;
}
.btn--full-width {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #569B87;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  font-size: 5rem;
  color: #FCCA46;
}

.footer {
  background: #569B87;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  margin: auto 3%;
  text-decoration: none;
  color: #FCCA46;
}

.container {
  margin: 6rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border: 0.1rem solid #D6FFF5;
}

.form {
  width: 100%;
  padding-bottom: 1.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.56rem 0.56rem #447a6a;
  background: #569B87;
  line-height: 5rem;
  padding: 1.5rem;
}
.form__field label {
  color: #D6FFF5;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.form__field input {
  width: 100%;
  background: #FCCA46;
  border: 0.1rem solid #569B87;
  padding: 1.5rem;
  color: #D6FFF5;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #569B87;
  background-color: #FCCA46;
  color: #569B87;
}
.form__field textarea {
  width: 100%;
  color: #569B87;
  background: #FCCA46;
  border: 0.1rem solid #569B87;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px auto;
  text-align: center;
  align-content: center;
}
.menu__link {
  width: 50%;
  text-decoration: none;
  align-self: center;
}

.soonarea {
  text-align: center;
  width: 18%;
  margin: auto;
}
.soonarea__text {
  color: #FCCA46;
  background-color: #569b87;
  border-radius: 15px;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  text-shadow: 0.56rem 0.56rem #447a6a;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #569B87;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  padding: 1.5rem;
  border: 0.1rem solid #569B87;
  color: #569B87;
  background: #FCCA46;
  cursor: pointer;
  grid-area: btn;
}
.about__btn:hover {
  background: #569B87;
  color: #D6FFF5;
}
.about__btn--full-width {
  width: 100%;
  margin: 0 auto;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.56rem 0.56rem #447a6a;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #569B87;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1.5rem;
  border: 0.1rem solid #569B87;
  color: #569B87;
  background: #FCCA46;
  cursor: pointer;
  grid-area: btn;
}
.project__btn:hover {
  background: #569B87;
  color: #D6FFF5;
}
.project__btn--full-width {
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
