.legal-terms {
    font-family: Trueno-Round;
    width: 90%;
    margin: 100px auto;
    &>p {
        font-size: 1.2rem;
        &>a {
            text-decoration: none;
            color: inherit;
        }
    }
    &>ul {
        font-size: 1.2rem;
        &>li>a {
            text-decoration: none;
            color: inherit;
        }
    }
    &>h2 {
        margin-top: 20px;
    }
    &>h3 {
        margin-top: 20px;
    }
}